<div>
    {{#with main}}
    <main>
        <div class="card text-center">
            {{> title data="My Education" big=true}}
            <ul class="list-group">
                {{#each education}}
                <li class="list-group-item">{{name}}{{#unless isEnd}} (ще в процесі) {{/unless}}</li>
                {{/each}}
            </ul>
        </div>
        <br />
        <div class="card text-center">
            {{> title data="My certificates" big=false}}
            <ul class="list-group">
                {{#each certificates}}
                <li class="list-group-item">{{name}} {{id}}</li>
                {{/each}}
            </ul>
        </div>
    </main>
    {{/with}}
</div>