{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
    <main>

        <div class="card p-2">
            <div class="card-body">
                <div class="card-title">
                    {{> title data=summary.title big=true}}
                </div>
                <p class="card-text"> {{summary.text}} </p>
            </div>
        </div>
        <br />

        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    {{> title data=experience.title big=false}}
                </div>
                <div class="card-text">
                    <p>{{experience.text}}</p>
                </div>
            </div>

        </div>

    </main>
    {{/with}}


</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}