<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/summary">Summary</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/skills">Skills</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/education">Education</a>

    </li>
    <li class="nav-item">
        <a class="nav-link" href="/work">Work</a>
    </li>
</ul>